.center button {
    
    color: black;
    border: 1px solid black;
    text-decoration: none;
    padding: 6px 13px 8px 13px;
    margin: 10px;
    border-radius: 20px;
    background-color: white;
}

.center button:hover{
    color: white;
    background-color: black;
}
.center a{
    color: black;
}


input{
    margin-left: 20px;
    border: solid 3px black;
    padding-left: 10px;
}

.center span{
    font-size: 0.6rem;
}

span{
    color: rgb(104, 87, 131);
    font-size: 2rem;
    margin-bottom: 50px;
}

.text-muted a {
    text-decoration: none;
    color: #6c757d;
}

.text-muted a:hover {
    text-decoration: none;
    color: #6c757d
}

.demo {
    display: flex;
    justify-content: center;
    margin-top: 200px;
   
}

.demo img {
    width: 1380px;
    height : 776px;
}
